<h2>Hi <%= user.name %> </h2>

<img class="cart" src="images/cart1.jpg">
<span class='badge badge-warning' id='lblCartCount' value="">5

</span>

<%- include('_layouts/header')  -%>

<h1>Welcome to the Store!</h1>
<h2>Plaese choose from the groceies list to add to the cart</h2>
<main>
    <section class="Header">   		
        <article class="re">
        <div class="re11">
                <br>
                <a href="/order"><img src="images/carrots.jpg" alt=" carrots"></a>
                <a href="/order"><figcaption class="fgaside1">carrots</figcaption></a>
                <br>				
                <a href="/order"><img src="images/lemon.jpg" alt="lemon "></a>
                <a href="/order"><figcaption class="fgaside1">lemon</figcaption></a>
                <br>
                <a href="/contactUs"><img src="images/onion.jpg" alt="onion"></a>
                <a href="/contactUs"><figcaption class="fgaside1">onion </figcaption></a>
                <br>
                <a href="/contactUs"><img src="images/whitepotato.jpg" alt="whitepotato"></a>
                <a href="/contactUs"><figcaption class="fgaside1">whitepotato </figcaption></a>
                <br>
                <a href="/contactUs"><img src="images/redpotato.jpg" alt="redpotato"></a>
                <a href="/contactUs"><figcaption class="fgaside1">redpotato </figcaption></a>
    
        </div>
        
        </article>
        </section> 
        <aside>
        <article class="aside1">
                <br>
                <a href=""><img src="./images/pumpkin.jpg" alt=" pumpkin"></a>
                <a href=""><figcaption class="fgaside1">pumpkin</figcaption></a>
                <br>				
                <a href=""><img src="./images/tomato.jpg" alt="tomato "></a>
                <figcaption class="fgaside1">tomato</figcaption>
                <br>
                <a href=""><img src="./images/letuce.jpg" alt="letuce"></a>
                <a href=""><figcaption class="fgaside1">letuce</figcaption></a>
                <br>
                <a href=""><img src="./images/coriandor.jpg" alt="coriandor"></a>
                <a href=""><figcaption class="fgaside1">coriandor</figcaption></a>
                <br>
                <a href=""><img src="./images/parsley.jpg" alt="parsley"></a>
                <a href=""><figcaption class="fgaside1">parsley</figcaption></a>
            </article>
        </aside>
        <aside>
        <article class="aside2">
        
        
            <br>
                <a href=""><img src="./images/asparagus.jpg" alt=" asparagus"></a>
                <a href=""><figcaption class="fgaside1">asparagus</figcaption></a>
                <br>				
                <a href=""><img src="./images/cherrytomato.jpg" alt="cherrytomato"></a>
                <figcaption class="fgaside1">cherrytomato</figcaption>
                <br>
                <a href=""><img src="./images/greenpapper.jpg" alt="greenpapper"></a>
                <a href=""><figcaption class="fgaside1">greenpapper</figcaption></a>
                <br>
                <a href=""><img src="./images/lime.jpg" alt="lime"></a>
                <a href=""><figcaption class="fgaside1">lime</figcaption></a>
                <br>
                <a href=""><img src="./images/cabage.jpg" alt="cabage"></a>
                <a href=""><figcaption class="fgaside1">cabageflat</figcaption></a>
        </br>
        </article>
        <article class="aside3">
        
        
            <br>
                <a href=""><img src="./images/redpepper.jpg" alt=" redpepper"></a>
                <a href=""><figcaption class="fgaside1">redpepper</figcaption></a>
                <br>				
                <a href=""><img src="./images/yellowpepper.jpg" alt="yellowpepper"></a>
                <figcaption class="fgaside1">yellowpepper</figcaption>
                <br>
                <a href=""><img src="./images/radish.jpg" alt="radish"></a>
                <a href=""><figcaption class="fgaside1">radish</figcaption></a>
                <br>
                <a href=""><img src="./images/faltcabage.jpg" alt="faltcabage"></a>
                <a href=""><figcaption class="fgaside1">faltcabage</figcaption></a>
                <br>
                <a href=""><img src="./images/redcabage.jpg" alt="redcabage"></a>
                <a href=""><figcaption class="fgaside1">redcabage</figcaption></a>
        </br>
        </article>
        </aside>
        <article class="aside4">
        
        
            <br>
                <a href=""><img src="./images/zucchini.jpg" alt=" zucchini"></a>
                <a href=""><figcaption class="fgaside1">zucchini</figcaption></a>
                <br>				
                <a href=""><img src="./images/eggplant.jpg" alt="eggplant"></a>
                <figcaption class="fgaside1">eggplant</figcaption>
                <br>
                <a href=""><img src="./images/greenbeans.jpg" alt="greenbeans"></a>
                <a href=""><figcaption class="fgaside1">greenbeans</figcaption></a>
                <br>
                <a href=""><img src="./images/whitecarrot.jpg" alt="whitecarrot"></a>
                <a href=""><figcaption class="fgaside1">whitecarrot</figcaption></a>
                <br>
                <a href=""><img src="./images/mint.jpg" alt="mint"></a>
                <a href=""><figcaption class="fgaside1">mint</figcaption></a>
        </br>
        </article>
        </aside>
    </main>
        <%- include('_layouts/footer') -%>
    
    